<div class="form-group mb-3">
                    <div
                      class="input-group input-group-merge input-group-alternative"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="far fa-user"></i></span>
                      </div>
                        <input type="text" name="username" class="form-control" placeholder="Username">
                    </div>
                  </div>

                  <div class="form-group">
                    <div
                      class="input-group input-group-merge input-group-alternative"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fas fa-user-edit"></i></span>
                      </div>
                      <input type="text" name="firstName" class="form-control" placeholder="First Name">
                    </div>
                  </div>

                  <div class="form-group">
                    <div
                      class="input-group input-group-merge input-group-alternative"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fas fa-user-edit"></i></span>
                      </div>
                      <input type="text" name="middleName" class="form-control" placeholder="Middle Name">
                    </div>
                  </div>

                  <div class="form-group">
                    <div
                      class="input-group input-group-merge input-group-alternative"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fas fa-user-edit"></i></span>
                      </div>
                      <input type="text" name="lastName" class="form-control" placeholder="Last Name">
                    </div>
                  </div>

                    <div class="form-group">
                    <div
                      class="input-group input-group-merge input-group-alternative"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fas fa-venus-mars"></i></span>
                      </div>
                      <select name="gender">
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                          <option value="Other">Other</option>
                          <option value="Prefer not to say">Prefer not to say</option>
                      </select>
                    </div>
                  </div>

                 <div class="form-group">
                    <div
                      class="input-group input-group-merge input-group-alternative"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fas fa-toolbox"></i></span>
                      </div>
                      <input type="text" name="specialization" class="form-control" placeholder="Specialization">
                    </div>
                  </div>

                  <div class="form-group">
                    <div
                      class="input-group input-group-merge input-group-alternative"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fas fa-envelope-square"></i></span>
                      </div>
                      <input type="email" name="email" class="form-control" placeholder="Email">
                    </div>
                  </div>

                    <div class="form-group">
                    <div
                      class="input-group input-group-merge input-group-alternative"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fas fa-mobile"></i></span>
                      </div>
                      <input type="number" name="mobile_number" class="form-control" placeholder="Mobile Number">
                    </div>
                  </div>

                    <div class="form-group">
                    <div
                      class="input-group input-group-merge input-group-alternative"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fas fa-address-card"></i></span>
                      </div>
                      <input type="text" name="homeAddress" class="form-control" placeholder="Complete Address">
                    </div>
                  </div>

                  <div class="form-group">
                    <div
                      class="input-group input-group-merge input-group-alternative"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="ni ni-lock-circle-open"></i
                        ></span>
                      </div>
                      <input type="password" name="password1" class="form-control" placeholder="Enter Password">
                    </div>
                  </div>

                  <div class="form-group">
                    <div
                      class="input-group input-group-merge input-group-alternative"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="ni ni-lock-circle-open"></i
                        ></span>
                      </div>
                      <input type="password" name="password2" class="form-control" placeholder="Re-enter Password">
                    </div>
                  </div>

                  <div class="form-group">
                    <div
                      class="input-group input-group-merge input-group-alternative"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fas fa-chevron-circle-down"></i></span>
                      </div>
                      <select name="userType">
                          <option value="Doctor">Doctor</option>
                      </select>
                    </div>
                  </div>